html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    background: #003311;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 28px;
}

a:link {
    color: #ff7300;
}

a:visited {
    color: #ff7300;
}

a:hover {
    color: #cf4f14;
}

a:active {
    color: #ff1e00;
}

code {
    font-family: -apple-system, BlinkMacSystemFont, "Consolas", "Lucida Console",
        "Courier New", "Ubuntu Mono", monospace;
    background-color: rgba(0, 55, 72, 0.3);
    border: 1px solid #7f7f7f;
    padding: 1px 3px 1px 3px;
    margin: 0px 2px 0px 2px;
    border-radius: 3px;
}

li {
    padding: 5px 0px 5px 0px;
}

.entire-page {
    display: flex;
    height: min(200%, 100% + 55em + 70px);
    width: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    height: 80px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background-color: #003748;
    border-bottom: 1px solid #cecece;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.header .icon {
    height: 75px;
}

.header .top-text {
    font-weight: bold;
    margin-top: -0.25em;
}

.main-section {
    height: 100%;
}

.content-background {
    position: relative;
    height: calc(100vh - 96px);
    background-image: url("../images/bg_screenshot.png");
    background-position: center;
}

.content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 31, 31, 0.7);
}

.content .centre-pop-up {
    padding: 40px;
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    color: #ff7300;
    line-height: 1.8;
    border: 3px solid #009e00;
    background-color: rgba(0, 0, 0, 0.8);
}

.additional-info {
    background: #003311;
    height: min(calc(100vh - 70px), 55em);
    display: grid;
    align-items: center;
    justify-content: center;
}

.info-box {
    margin: 50px;
    height: 80%;
    width: 90vw;
    border-radius: 20px;
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.info-instructions {
    width: 50%;
    padding: calc(1.5em + 10px) 20px 10px 20px;
    border-right: 2px solid #cecece;
    font-size: 18px;
}

.info-rows {
    width: 50%;
}

.info-download-again {
    height: 25%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #cecece;
    display: grid;
    align-items: center;
}

.info-links {
    position: relative;
    margin-top: 1.5em;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.footer {
    display: flex;
    height: 50px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background-color: #003748;
    border-top: 1px solid #cecece;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.footer .bottom-text {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -0.25em;
}

.footer .bottom-text a:link {
    color: #ffffff;
}

.footer .bottom-text a:visited {
    color: #ffffff;
}

.footer .bottom-text a:hover {
    color: #cecece;
}

.footer .bottom-text a:active {
    color: #7e7e7e;
}